
<div class="container">
<div class="card border-0" style="width: 18rem;">
  <%= image_tag(@product.image, class:"card-img-top")%>
  <div class="card-body">      
    <h5 class="card-title"><%=link_to "#{@product.name}", product_path(@product)%></h5>
    <p class="card-text"><%=@product.color%></p>
    <p class="card-text">$<%=@product.price%>.00</p>
    <p class="card-text"><%=@product.description%></p>
  </div>
</div>
</div>
<div class="bottomright">
<% if seller_signed_in? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end%>
<%= link_to 'Back', products_path %>
</div>